/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.brand-1 {
  color: #3ABB8D;
}

.brand-1-bg {
  background-color: #3ABB8D;
}

.brand-1-light {
  color: #75C8AA;
}

.brand-1-light-bg {
  background-color: #75C8AA;
}

.brand-1-x-light {
  color: #C7E9DD;
}

.brand-1-x-light-bg {
  background-color: #C7E9DD;
}

.brand-2 {
  color: #313C5A;
}

.brand-2-bg {
  background-color: #313C5A;
}

.brand-2-light {
  color: #41568C;
}

.brand-2-light-bg {
  background-color: #41568C;
}

.red-crimson {
  color: #D05858;
}

.red-crimson-bg {
  background-color: #D05858;
}

.blue-aqua {
  color: #3E9CD0;
}

.blue-aqua-bg {
  background-color: #3E9CD0;
}

.black {
  color: #000;
}

.black-bg {
  background-color: #000;
}

.gray-coal {
  color: #222;
}

.gray-coal-bg {
  background-color: #222;
}

.gray-lead {
  color: #666;
}

.gray-lead-bg {
  background-color: #666;
}

.gray-cement {
  color: #999;
}

.gray-cement-bg {
  background-color: #999;
}

.gray-titanium {
  color: #AAA;
}

.gray-titanium-bg {
  background-color: #AAA;
}

.gray-cloud {
  color: #DADEE8;
}

.gray-cloud-bg {
  background-color: #DADEE8;
}

.gray-mist {
  color: #F1F1F1;
}

.gray-mist-bg {
  background-color: #F1F1F1;
}

.white {
  color: #FFF;
}

.white-bg {
  background-color: #FFF;
}

.color-font {
  color: #666;
}

.color-font-bg {
  background-color: #666;
}

.color-link {
  color: #3ABB8D;
}

.color-link-bg {
  background-color: #3ABB8D;
}

.color-error {
  color: #D05858;
}

.color-error-bg {
  background-color: #D05858;
}

.color-success {
  color: #3ABB8D;
}

.color-success-bg {
  background-color: #3ABB8D;
}

.color-info {
  color: #41568C;
}

.color-info-bg {
  background-color: #41568C;
}

.color-disabled {
  color: #F1F1F1;
}

.color-disabled-bg {
  background-color: #F1F1F1;
}

.spacing {
  padding: 10px;
}

.spacing-h {
  padding-left: 10px;
  padding-right: 10px;
}

.spacing-v {
  padding-top: 10px;
  padding-bottom: 10px;
}

.spacing-l {
  padding-left: 10px;
}

.spacing-r {
  padding-right: 10px;
}

.spacing-t {
  padding-top: 10px;
}

.spacing-b {
  padding-bottom: 10px;
}

.spacing-2 {
  padding: 20px;
}

.spacing-2-h {
  padding-left: 20px;
  padding-right: 20px;
}

.spacing-2-v {
  padding-top: 20px;
  padding-bottom: 20px;
}

.spacing-2-l {
  padding-left: 20px;
}

.spacing-2-r {
  padding-right: 20px;
}

.spacing-2-t {
  padding-top: 20px;
}

.spacing-2-b {
  padding-bottom: 20px;
}

.spacing-3 {
  padding: 30px;
}

.spacing-3-h {
  padding-left: 30px;
  padding-right: 30px;
}

.spacing-3-v {
  padding-top: 30px;
  padding-bottom: 30px;
}

.spacing-3-l {
  padding-left: 30px;
}

.spacing-3-r {
  padding-right: 30px;
}

.spacing-3-t {
  padding-top: 30px;
}

.spacing-3-b {
  padding-bottom: 30px;
}

.spacing-half {
  padding: 5px;
}

.spacing-half-h {
  padding-left: 5px;
  padding-right: 5px;
}

.spacing-half-v {
  padding-top: 5px;
  padding-bottom: 5px;
}

.spacing-half-l {
  padding-left: 5px;
}

.spacing-half-r {
  padding-right: 5px;
}

.spacing-half-t {
  padding-top: 5px;
}

.spacing-half-b {
  padding-bottom: 5px;
}

.container-lg {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container-mid {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container-sm {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container-full {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin-left: -7.5px;
  margin-right: -7.5px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row-sm {
  margin-left: -3.75px;
  margin-right: -3.75px;
}
.row-sm:after {
  content: "";
  display: table;
  clear: both;
}

.row-lg {
  margin-left: -15px;
  margin-right: -15px;
}
.row-lg:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-sm {
  padding-left: 3.75px;
  padding-right: 3.75px;
}

.col-lg {
  padding-left: 15px;
  padding-right: 15px;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 600px) {
  .col-1-sm {
    width: 8.3333333333%;
  }

  .col-2-sm {
    width: 16.6666666667%;
  }

  .col-3-sm {
    width: 25%;
  }

  .col-4-sm {
    width: 33.3333333333%;
  }

  .col-5-sm {
    width: 41.6666666667%;
  }

  .col-6-sm {
    width: 50%;
  }

  .col-7-sm {
    width: 58.3333333333%;
  }

  .col-8-sm {
    width: 66.6666666667%;
  }

  .col-9-sm {
    width: 75%;
  }

  .col-10-sm {
    width: 83.3333333333%;
  }

  .col-11-sm {
    width: 91.6666666667%;
  }

  .col-12-sm {
    width: 100%;
  }
}
@media (min-width: 900px) {
  .col-1-mid {
    width: 8.3333333333%;
  }

  .col-2-mid {
    width: 16.6666666667%;
  }

  .col-3-mid {
    width: 25%;
  }

  .col-4-mid {
    width: 33.3333333333%;
  }

  .col-5-mid {
    width: 41.6666666667%;
  }

  .col-6-mid {
    width: 50%;
  }

  .col-7-mid {
    width: 58.3333333333%;
  }

  .col-8-mid {
    width: 66.6666666667%;
  }

  .col-9-mid {
    width: 75%;
  }

  .col-10-mid {
    width: 83.3333333333%;
  }

  .col-11-mid {
    width: 91.6666666667%;
  }

  .col-12-mid {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-lg {
    width: 8.3333333333%;
  }

  .col-2-lg {
    width: 16.6666666667%;
  }

  .col-3-lg {
    width: 25%;
  }

  .col-4-lg {
    width: 33.3333333333%;
  }

  .col-5-lg {
    width: 41.6666666667%;
  }

  .col-6-lg {
    width: 50%;
  }

  .col-7-lg {
    width: 58.3333333333%;
  }

  .col-8-lg {
    width: 66.6666666667%;
  }

  .col-9-lg {
    width: 75%;
  }

  .col-10-lg {
    width: 83.3333333333%;
  }

  .col-11-lg {
    width: 91.6666666667%;
  }

  .col-12-lg {
    width: 100%;
  }
}
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-right-auto {
  margin-right: auto;
}

@font-face {
  font-family: "icomoon";
  src: url(/fonts/icomoon.ttf?434fb27b9969e017b9af036bf0f39558) format("truetype"), url(/fonts/icomoon.woff?b15f4e061e8353fd29d35495c0c7e530) format("woff"), url(/fonts/icomoon.svg?66773d5217e49a3cdda3c6277ba65afb#icomoon) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=at-icon-], [class*=" at-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.at-icon-atom:before {
  content: "\e994";
}

.at-icon-logo:before {
  content: "\e901";
}

.at-icon-arrow-down:before {
  content: "\e90f";
}

.at-icon-arrow-left:before {
  content: "\e911";
}

.at-icon-arrow-right:before {
  content: "\e913";
}

.at-icon-arrow-up:before {
  content: "\e917";
}

.at-icon-chevron-down:before {
  content: "\e92e";
}

.at-icon-chevron-left:before {
  content: "\e92f";
}

.at-icon-chevron-right:before {
  content: "\e930";
}

.at-icon-chevron-up:before {
  content: "\e931";
}

.at-icon-card:before {
  content: "\e94f";
}

.at-icon-dollar:before {
  content: "\e955";
}

.at-icon-droplet:before {
  content: "\e958";
}

.at-icon-home:before {
  content: "\e97c";
}

.at-icon-map:before {
  content: "\e98f";
}

.at-icon-cart:before {
  content: "\e9d1";
}

.at-icon-target:before {
  content: "\e9e4";
}

.at-icon-user-x:before {
  content: "\e9fd";
}

.at-icon-user:before {
  content: "\e9fe";
}

.at-icon-x:before {
  content: "\ea0e";
}

.at-icon-loader:before {
  content: "\e98a";
}

.at-icon-leaf:before {
  content: "\e902";
}

.at-icon-restaurant:before {
  content: "\e56c";
}

.at-icon-earth:before {
  content: "\e903";
}

.at-icon-paw:before {
  content: "\e904";
}

.font-family-1 {
  font-family: "Nunito Sans", sans-serif;
}

.font-size {
  font-size: 14px;
}

.font-size-sm {
  font-size: 85.7142857143%;
}

.font-size-xs {
  font-size: 71.4285714286%;
}

.font-size-lg {
  font-size: 114.2857142857%;
}

.font-regular {
  font-weight: 400;
}

.font-semi-bold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-underline {
  text-decoration: underline;
}

strong, b {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

h1 {
  color: #222;
  font-size: 171.4285714286%;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 20px 0;
}

h2 {
  color: #222;
  font-size: 157.1428571429%;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 20px 0;
}

h3 {
  color: #222;
  font-size: 142.8571428571%;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 20px 0;
}

h4 {
  color: #222;
  font-size: 128.5714285714%;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 20px 0;
}

h5 {
  color: #222;
  font-size: 114.2857142857%;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 20px 0;
}

h6 {
  color: #222;
  font-size: 100%;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 20px 0;
}

p {
  margin-bottom: 10px;
}

ul, ol {
  list-style-position: inside;
  margin-bottom: 10px;
  padding-left: 10px;
}
ul li, ol li {
  margin-bottom: 10px;
}
ul ul, ol ul {
  padding-left: 20px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

.list-reset {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}
.list-reset li {
  margin-bottom: 0;
}

a, .link {
  color: #3ABB8D;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s linear;
}
a:hover, .link:hover {
  color: #41568C;
  transition: all 0.2s linear;
}
a:focus, .link:focus {
  outline: 1px solid #75C8AA;
}

.link-action {
  color: #313C5A;
  font-weight: 700;
}

.link-action-icon {
  color: #75C8AA;
  display: inline-block;
  vertical-align: middle;
}

.link-action-text {
  text-transform: uppercase;
  vertical-align: middle;
}

img, video, svg {
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

.full-width {
  display: block;
  width: 100%;
}

.padding-reset {
  padding: 0 !important;
}

.margin-reset {
  margin: 0 !important;
}

.center-element {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.vertical-align-top {
  display: inline-block;
  vertical-align: top;
}

.vertical-align-middle {
  display: inline-block;
  vertical-align: middle;
}

.vertical-align-bottom {
  display: inline-block;
  vertical-align: bottom;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.position-relative {
  position: relative;
}

.border-radius {
  border-radius: 10px;
}

.border-radius-lg {
  border-radius: 20px;
}

.border-radius-xl {
  border-radius: 30px;
}

.icon-size-lg {
  font-size: 114.2857142857%;
}

.icon-size-xl {
  font-size: 128.5714285714%;
}

.icon-size-xxl {
  font-size: 171.4285714286%;
}

.icon-left {
  margin-right: 5px;
}

.icon-left-lg {
  margin-right: 10px;
}

.icon-right {
  margin-left: 5px;
}

.icon-right-lg {
  margin-left: 10px;
}

.show-on-screen-readers {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  /* Fallback: Older Browsers */
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
          clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
  white-space: nowrap;
}

.btn {
  border-radius: 30px;
  border: 1px solid;
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
  padding: 10px 30px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  transition: all 0.2s linear;
}
.btn:hover, .btn:focus {
  transition: all 0.2s ease-in;
}
.btn:focus {
  outline: 1px solid #75C8AA;
}

.btn--brand-1 {
  color: #FFF;
  background-color: #3ABB8D;
  border-color: #3ABB8D;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.btn--brand-1:hover, .btn--brand-1:focus {
  color: #FFF;
  background-color: #75C8AA;
  border-color: #75C8AA;
}

.btn--brand-2 {
  color: #FFF;
  background-color: #313C5A;
  border-color: #313C5A;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.btn--brand-2:hover, .btn--brand-2:focus {
  color: #FFF;
  background-color: #41568C;
  border-color: #41568C;
}

.btn--white {
  color: #3ABB8D;
  background-color: #FFF;
  border-color: #FFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.btn--white:hover, .btn--white:focus {
  color: #3ABB8D;
  background-color: #F1F1F1;
  border-color: #F1F1F1;
}

.btn-hollow--brand-1 {
  color: #3ABB8D;
  background-color: transparent;
  border-color: currentColor;
}
.btn-hollow--brand-1:hover, .btn-hollow--brand-1:focus {
  color: #75C8AA;
}

.btn-hollow--brand-2 {
  color: #313C5A;
  background-color: transparent;
  border-color: currentColor;
}
.btn-hollow--brand-2:hover, .btn-hollow--brand-2:focus {
  color: #41568C;
}

.btn-hollow--white {
  color: #FFF;
  background-color: transparent;
  border-color: currentColor;
}
.btn-hollow--white:hover, .btn-hollow--white:focus {
  color: #DADEE8;
}

.btn--sm {
  font-size: 85.7142857143%;
  padding: 5px 30px;
}

.btn--xs {
  font-size: 71.4285714286%;
  padding: 5px 15px;
  line-height: 1.2;
}

.btn--disabled {
  opacity: 0.3;
  pointer-events: none;
}

.btn-reset {
  color: #666;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-transform: inherit;
  padding: 0;
}
.btn-reset:hover {
  color: #666;
  background: none;
}

input, select {
  border-radius: 0;
  box-shadow: none;
  background-clip: padding-box;
}

input[type=submit].btn {
  -webkit-appearance: none;
}

.field {
  margin-bottom: 20px;
}

.label {
  color: #222;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
}

.label--lg {
  font-size: 114.2857142857%;
}

.label--inverse {
  color: #FFF;
}

.form-text {
  color: #222;
  background-color: #FFF;
  border: 1px solid #DADEE8;
  border-radius: 30px;
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  padding: 10px 15px;
  display: block;
  width: 100%;
  transition: all 0.2s linear;
}
.form-text.placeholder {
  color: #AAA;
}
.form-text:-moz-placeholder {
  color: #AAA;
}
.form-text::-moz-placeholder {
  color: #AAA;
}
.form-text:-ms-input-placeholder {
  color: #AAA;
}
.form-text::-webkit-input-placeholder {
  color: #AAA;
}
.form-text:focus {
  outline: 0;
  border: 1px solid #75C8AA;
  transition: all 0.2s linear;
}

.form-text--select {
  background-image: url(/images/icon-chevron-down.svg?fe610ff5ce119cf8fe31ec8ac825807e);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 110px;
  resize: vertical;
}

.form-text-inverse {
  color: #FFF;
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 30px;
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  padding: 10px 15px;
  display: block;
  width: 100%;
  transition: all 0.2s linear;
}
.form-text-inverse.placeholder {
  color: #DADEE8;
}
.form-text-inverse:-moz-placeholder {
  color: #DADEE8;
}
.form-text-inverse::-moz-placeholder {
  color: #DADEE8;
}
.form-text-inverse:-ms-input-placeholder {
  color: #DADEE8;
}
.form-text-inverse::-webkit-input-placeholder {
  color: #DADEE8;
}
.form-text-inverse:focus {
  outline: 0;
  border: 1px solid #75C8AA;
  transition: all 0.2s linear;
}

.input-group {
  color: #666;
  background-color: #FFF;
  border: 1px solid #DADEE8;
  border-radius: 30px;
  display: flex;
}
.input-group:focus-within {
  outline: 0;
  border: 1px solid #75C8AA;
  transition: all 0.2s linear;
}

.input-group-text {
  color: #222;
  background-color: transparent;
  border: 1px solid #DADEE8;
  border-radius: 30px;
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  padding: 10px 15px;
  display: block;
  width: 100%;
  transition: all 0.2s linear;
  border: none;
}
.input-group-text.placeholder {
  color: #AAA;
}
.input-group-text:-moz-placeholder {
  color: #AAA;
}
.input-group-text::-moz-placeholder {
  color: #AAA;
}
.input-group-text:-ms-input-placeholder {
  color: #AAA;
}
.input-group-text::-webkit-input-placeholder {
  color: #AAA;
}
.input-group-text:focus {
  outline: 0;
  border: 1px solid #75C8AA;
  transition: all 0.2s linear;
}
.input-group-text:focus {
  border: none;
}

.input-group-label {
  color: #999;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 15px 0 0;
  align-self: center;
}

.form-text--sm {
  font-size: 85.7142857143%;
  padding: 5px 10px;
}

.input-file {
  opacity: 0;
  position: absolute;
}
.input-file:focus + .input-file-label {
  outline: 1px solid #75C8AA;
}

.input-file-label {
  font-size: 114.2857142857%;
  text-transform: capitalize;
  padding-left: 60px;
  padding-right: 60px;
  position: relative;
}

.input-file-img {
  border-radius: 50%;
  width: 46px;
  height: 46px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  position: absolute;
  left: -2px;
  top: -1px;
}

.form-error {
  border: 1px solid #D05858;
}

.form-disabled {
  color: #999;
  background-color: #F1F1F1;
  border-color: #F1F1F1;
  opacity: 0.7;
  cursor: not-allowed;
}
.form-disabled input, .form-disabled textarea, .form-disabled select {
  cursor: not-allowed;
}
.form-disabled:focus {
  border-color: #F1F1F1;
}

.form-required:after {
  content: "*";
}

.content-block {
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.progress-bar {
  background-color: #C7E9DD;
  border-radius: 30px;
  height: 15px;
}

.progress-bar-value {
  background-color: #3ABB8D;
  border-radius: inherit;
  height: inherit;
}

.avatar-img {
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto 5px;
  display: block;
}

.avatar-username {
  font-size: 171.4285714286%;
  font-weight: 600;
}

.avatar-meta-info {
  font-weight: 700;
}

.overlay {
  background-color: rgba(49, 60, 90, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  left: 0;
}

.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 15px;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner-content {
  color: #FFF;
  position: relative;
  z-index: 1;
}

.banner-heading {
  color: #FFF;
  font-size: 257.1428571429%;
  font-weight: 400;
}

.banner-subheading {
  font-size: 142.8571428571%;
  font-style: italic;
}

.btn--list-each {
  position: relative;
  top: -14px;
}

.card {
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card-banner {
  position: relative;
}

.overlay--card-banner {
  border-radius: 10px 10px 0 0;
}

.card-banner-img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  display: block;
}

.card-banner-content {
  color: #FFF;
  padding: 15px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.card-location > span, .card-tree-cost > span {
  display: inline-block;
  vertical-align: middle;
}

.card-tree-cost {
  margin-left: auto;
}

.card-banner-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  width: calc(100% - 30px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.card-banner-icons {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
}

.card-banner-icon {
  font-size: 128.5714285714%;
  margin-left: 5px;
}
.card-banner-icon:first-of-type {
  margin-left: 0;
}

.card-content {
  padding: 15px;
  position: relative;
}

.card-progress-text {
  font-size: 85.7142857143%;
  font-weight: 700;
  padding: 10px 0 0 0;
}

.card-progress-target {
  margin-left: auto;
}

@-webkit-keyframes animation-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes animation-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader {
  display: inline-block;
  -webkit-animation: animation-rotate 4s infinite linear;
          animation: animation-rotate 4s infinite linear;
}

.tab-block {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}
.tab-block li {
  margin-bottom: 0;
}

.tab-each:first-of-type .tab-each-anchor {
  border-radius: 10px 0 0 10px;
}
.tab-each:last-of-type .tab-each-anchor {
  border-radius: 0 10px 10px 0;
}

.tab-each-anchor {
  color: #666;
  background: #FFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  text-align: center;
  padding: 15px;
  display: flex;
  align-items: center;
}
.tab-each-anchor[aria-selected=true] {
  color: #FFF;
  background: #313C5A;
}

.glider-contain {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.glider {
  margin: 0 auto;
  position: relative;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  transform: translateZ(0);
}

.glider-track {
  transform: translateZ(0);
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 1;
}

.glider.draggable {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
}

.glider.draggable .glider-slide img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.glider.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.glider-slide {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.glider-slide img {
  max-width: 100%;
}

.glider::-webkit-scrollbar {
  opacity: 0;
  height: 0;
}

.glider-prev, .glider-next {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  outline: none;
  background: none;
  padding: 0;
  z-index: 2;
  font-size: 40px;
  text-decoration: none;
  left: -23px;
  border: 0;
  top: 30%;
  cursor: pointer;
  color: #666;
  opacity: 1;
  line-height: 1;
  transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.glider-prev:hover,
.glider-next:hover,
.glider-prev:focus,
.glider-next:focus {
  color: #a89cc8;
}

.glider-next {
  right: -23px;
  left: auto;
}

.glider-next.disabled,
.glider-prev.disabled {
  opacity: 0.25;
  color: #666;
  cursor: default;
}

.glider-slide {
  min-width: 150px;
}

.glider-hide {
  opacity: 0;
}

.glider-dots {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.glider-dot {
  background: none;
  border: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  display: block;
  cursor: pointer;
  color: #ccc;
  border-radius: 999px;
  background: #ccc;
  width: 12px;
  height: 12px;
  margin: 7px;
}

.glider-dot:hover,
.glider-dot:focus,
.glider-dot.active {
  background: #a89cc8;
}

@media (max-width: 36em) {
  .glider::-webkit-scrollbar {
    opacity: 1;
    -webkit-appearance: none;
    width: 7px;
    height: 3px;
  }

  .glider::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 99px;
    background-color: rgba(156, 156, 156, 0.25);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
  }
}
.glider-block {
  position: relative;
}

.glider-track {
  align-items: center;
}

.glider-prev, .glider-next {
  font-size: 32px;
  top: 36%;
}

.glider-dot {
  background: #AAA;
  margin-left: 5px;
  margin-right: 5px;
}

.glider-dot:hover,
.glider-dot:focus,
.glider-dot.active {
  background: #75C8AA;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  color: #666;
  background-color: #F1F1F1;
  font-size: 14px;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
}
